:root{
    box-sizing:border-box;
    /* font-size: 0.875em; */
}

*,::after,::before{
    box-sizing: inherit;
}

body{
    font-size: 1rem;
    font-family: sans-serif;
    background-color: rgb(207, 204, 204);

}

body *+*{
    margin-top: 1.5em;
}
.header-main{
   
}

.header-main .heading-main{
    font-family: serif;
    font-weight: 500;
    padding-bottom: 1em;
    margin:0;
    font-size: 3rem;
   
    border-radius: 0.2em;
    
    text-align:center;
    background-color: rgb(233, 225, 225);
    /* vertical-align: middle; */
}


.navigation-list{
    /* text-align: center; */
    list-style: none;
    
    padding: 0;
    margin: 0;
    background-color: rgb(228, 222, 222);
    border-radius: 0.3em;
  

}



.navigation-list li {
    display: inline-block;
    padding:1.5em;
   
}

/* removing the labotomised owl styles */
li:nth-of-type(2){
    margin-top: 0;
    
}

div{
    border:0.5px solid red;
    display: inline-block;
    margin-bottom: 0.3em;
    width: 2.4%;
}

.navigation-item:link{

        /* padding: 1em; */
        border-bottom: 1.5px solid black;
        text-decoration: none;
        /* border-radius: 1.5em; */
        padding: 1.3em;
        color:rgb(61, 60, 60);
        /* background-color: rgb(59, 57, 57); */
        text-transform: uppercase;
        font-weight: 200;
       
    
}
.navigation-item:visited{
    color: rgb(228, 104, 104);
}
.navigation-item:hover{
    color:rgb(61, 60, 60);
    border-bottom:1.5px solid red;
}
.navigation-item:active{
    
}
img{
    width:400px;
    height:auto;
}