:root{
font-size: 0.875em;
box-sizing: border-box;
--main-color :black;
--secondary-color:white;
}

*,::after,::before{
    box-sizing: inherit;
}

body *+*{
    margin-top: 1.5em;
}
body{
margin:0 1em;
background-color: rgb(192, 189, 189);

}

.header{
    /* border:1px solid black; */
    background-color: darkgrey;
    padding-bottom: 0.5em;

}

.header-heading{
    font-size: 3rem;
    font-weight: 550;
    /* border:1px solid black; */
    
    margin: 0;
    padding: 1em 0;
    text-align: center;

}
.header-heading > span{

}
.nav{
    
    font-size: 1rem;
    /* border: 1px solid red; */

}

.nav-list{
    /* border:1px solid green; */
    text-align: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

/* li elements */
.nav-list li{

display: inline-block;
margin-left:1.5em ;

margin-top: 0;
/* padding: 1em 0; */
}



.nav-item{
    /* border:1px solid yellow; */
    background-color: rgb(145, 145, 145);
    display: block;
    padding: 1em;
    border-radius: 0.5em;
    color:black;
    text-decoration: none;
    text-transform: uppercase;
}
.nav-item:link{




}

.nav-item:visited{
    color:rgb(43, 41, 41)
 
}

.nav-item:hover{
color:white;
}

.header  div { 
    margin:0 auto;
    border:1px solid black;
    width:70%;
}
img{
    width: 400px;
    height: auto;
}