:root{
    box-sizing: border-box;
    font-size:calc(0.5em + 1vw);
}

body{
    background-color:#ffffff;
    /* color:rgb(109, 7, 7); */
    margin: 0;
    height:100vh;
}

h1{
    border-bottom: 7px solid black;
    text-align: center;
    padding: .5em;
    margin: 0;
    background-color: rgb(226, 226, 226);
}
nav{
    background-color: rgb(224, 224, 224);
    padding:0.5em;
    margin:0.5em
}

nav >ul{
    padding-left: 30%;
    list-style: none;

}
nav ul li{
    
    display: inline-block;
    margin-right: 0.5em;
    padding: 0.5em;
    border-radius: 0.5em;
    background-color: rgb(255, 255, 255);
}
li > a{
    text-decoration: none;
    color:black;
    text-transform: uppercase;
    font-size: 0.8em;
    color:rgb(109, 7, 7)
}